.navbar{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

/* #content{
    display: flex;
    flex-direction: row !important;
} */

.dropdown{
    margin-right: 4em;

}

.form-label{
    margin-left: 2em;
    margin-bottom: 0.4em;
}

.form-control{
    width: 8em;
    margin-left: 1em;
}


#logout_link , #login_link{
    margin-right: 2em;
}

#userinfo{
    font-size: 1em;
    margin-right: 2em ;
}

#id_username, #id_password{
    width: 8em;
    position: relative;
    left: 1em;
}

form{
    position: relative;
    top: 4em;
    left: 40em;
}

