{% extends 'Applications/base.html' %}


{% block javascript%}
    {% load static %}
    <script src="{% static 'Statistiques/js/add_memory_graph.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script> 
    
{% endblock %}
{% block css %}
<link href="{% static 'Statistiques/css/home.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content%}
<div class="accordion" id="accordionExample">
    {% for host in host_list%}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{host.h_name}}" aria-expanded="true" aria-controls="collapseOne">
            {{host.h_name}}
          </button>
        </h2>
        <div id="{{host.h_name}}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div id="Memory_graph" class="chart_container">
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div> 
{% endblock %}