#formulaire_ajout_host{
    position: relative;
    left: 30em;
}

#formulaire_ajout_app{
    position: relative;
    left: 30em;
}

.row{
    margin-top: 2em;
}

#submitbutton{
    margin-top: 1em !important;
}